@model Organic_Shop.Models.Role

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Basic Info</h4>
        <div class="table-responsive">
            <table class="product-info-table m-t-20">
                <tbody>
                    <tr>
                        <td>ID:</td>
                        <td>	@Model.RoleId</td>
                    </tr>
                    <tr>
                        <td>Role Name:</td>
                        <td>	@Model.RoleName</td>
                    </tr>
                    <tr>
                        <td>Description:</td>
                        <td>@Model.Description</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RoleId" class="btn btn-primary btn-tone m-r-5">Edit</a> 
    <a asp-action="Index" class="btn btn-primary btn-tone m-r-5">Back to List</a>
</div>
