@model Organic_Shop.Models.Role

@{
    ViewData["Title"] = "Edit role";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit role</h1>


<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RoleId" />
            <div class="form-group">
                <label asp-for="RoleName">Role Name</label>
                <input type="text" class="form-control" asp-for="RoleName" placeholder="Enter role name">
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" for="formGroupExampleInput2">Description</label>
                <textarea type="text" asp-for="Description" class="form-control" placeholder="Enter desctiption"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-success btn-tone m-r-5" />
            </div>
        </form>

    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary btn-tone m-r-5">Back to List</a>
</div>

